<div class="row">
  <div class="col-md-12">
    <h1>ログイン</h1>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label 'メールアドレス' %>
        <%= f.email_field :mail, class: 'form-control' %>
        <br>
        <%= f.label 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
