<h1><%= user.name %>さんのマイページ</h1>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><%= link_to 'プロフィール', user_path(user) %></li>
  <li role="presentation"><%= link_to '登録したスペース', spaces_user_path(user) %></li>
  <% if params[:id].to_i == current_user.id %>
      <li role="presentation"><%= link_to 'スペースの新規登録', new_space_path %></li>
      <li role="presentation"><%= link_to 'ID情報変更', edit_user_path(user) %></li>
  <% end %>
</ul>
