<%= render 'users/header', user: @user %>
<div class="tab-content">
  <div class="tab-pane active">
    <h3>あなたの登録しているスペース</h3>
    <% @spaces.each do |space| %>
        <div class="column">
          <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">操作</h3>
              </div>
              <div class="panel-body text-center">
                <%= link_to '公開設定変更', toggle_visible_space_path(space), class: 'btn btn-primary navbar-btn', method: :post %>
                <p>現在 <%= space.visible? ? '公開中' : '非公開' %></p>
                <%= link_to '予約一覧', reservations_space_path(space), class: 'btn btn-primary navbar-btn' %>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <%= render 'shared/space_index', space: space %>
          </div>
        </div>
    <% end %>
  </div>
</div>
