<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">インスペ</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'スペース一覧', spaces_path %></li>
        <li><a href="#">利用規約</a></li>
        <% if logged_in? %>
            <p class="navbar-text">ようこそ <%= current_user.name %>さん</p>
            <% if current_user.admin? %>
              <%= link_to admin_top_path do %>
                <button type="button" class="btn btn-primary navbar-btn">管理者画面</button>
              <% end %>
            <% else %>
              <%= link_to user_path current_user do %>
                <button type="button" class="btn btn-default navbar-btn">マイページ</button>
              <% end %>
            <% end %>
        <% else %>
            <%= link_to login_path do %>
                <button type="button" class="btn btn-default navbar-btn">LogIn</button>
            <% end %>
            <%= link_to sign_up_path do %>
                <button type="button" class="btn btn-primary navbar-btn">Sign Up</button>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
